    body{
        width:100%;
        text-align:center;
        color:yellow;
    }
    
    input {
        font-size: 3em;
        color: black;
        text-align: center;
    }

    
    #carouselExampleIndicators {
         margin: 0 auto;   
         width: 700px;
    }